[submodule "sudoku"]
	path = sudoku
	url = git@github.com:coldfix/sudoku-swi
[submodule "blog"]
	path = blog
	url = git@github.com:coldfix/website
[submodule "pins"]
	path = pins
	url = git@github.com:coldfix/pypipins
