[submodule "sudoku"]
	path = modules/sudoku
	url = git@github.com:coldfix/sudoku-swi
[submodule "blog"]
	path = modules/blog
	url = git@github.com:coldfix/website
[submodule "cryptpad"]
	path = modules/cryptpad
	url = git@github.com:xwiki-labs/cryptpad.git
[submodule "goaccess"]
	path = modules/goaccess
	url = git@github.com:allinurl/goaccess
[submodule "modules/pycbox"]
	path = modules/pycbox
	url = git@github.com:coldfix/pycbox
