[submodule "sudoku"]
	path = modules/sudoku
	url = git@github.com:coldfix/sudoku-swi
[submodule "blog"]
	path = modules/blog
	url = git@github.com:coldfix/website
[submodule "modules/pycbox"]
	path = modules/pycbox
	url = git@github.com:coldfix/pycbox
[submodule "modules/ddns"]
	path = modules/ddns
	url = git@github.com:pboehm/ddns
